.new-tweet {
  background-color: #f1f1f1;
  border: solid;
  border-color: #D3D3D3;
  border-radius: 5px;
  border-width: 0.2px;
  display: none;
  margin: 0 2em 10px;
  padding: 0 10px 0;
  padding-bottom: 0.6em;
  h2 {
    border-bottom: solid;
    border-width: 1.5px;
    margin-top: 8px;
  }
  input {
    background-color: #F0FFFF;
    border: solid;
    border-color: black;
    border-radius: 7px;
    border-width: 0.5px;
    font-size: 13px;
    position: relative;
    top: 3.5px;
    &:hover {
      filter: brightness(80%);
    }
  }
  .counter {
    float: right;
    font-size: 13px;
    font-style: italic;
    padding: 6.5px;
  }
  .text-area {
    width: 100%;
  }
}