.new-tweet .counter {
  float: right;
  font-size: 13px;
  font-style: italic;;
  padding: 6.5px;
}

.new-tweet {
  background-color: #f1f1f1;
  border: solid;
  border-color: #D3D3D3;
  border-radius: 5px;
  border-width: 0.2px;
  margin: 0 2em 10px;
  padding: 0 10px 0;
  padding-bottom: 0.6em;
  display: none;
}

.new-tweet h2 {
  margin-top: 8px;
  border-bottom: solid;
  border-width: 1.5px;
}

.new-tweet .text-area {
  width: 100%;
}
