.show-tweets {
  border: solid;
  border-color: #D3D3D3;
  border-radius: 5px;
  border-width: 0.2px;
  margin: 0 2em 0;
  margin-bottom: 10px;
  padding-bottom: 0.6em;
}

.show-tweets footer {
  padding: 10px;
}

.show-tweets footer img {
  display: none;
}

.show-tweets:hover footer img {
  display: inline;
  float: right;
  height: 17px;
  margin-top: -4px;
  padding: 3px;
  width: 17px;
}

.show-tweets footer span {
  font-size: 10px;
  margin-top: -1px;
  position: absolute;
}

.show-tweets header {
  background-color: #f1f1f1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
}

.show-tweets header .handle {
  color: #a3a3a3;
  float: right;
  font-size: 13px;
  padding: 13px 8px 0 0;
}

.show-tweets header .name {
  color: #6B7A89;
  font-size: 24px;
  font-weight: bold;
  margin-top: 7px;
  padding-left: 2px;
  position: absolute;
}

.show-tweets header img {
  border-radius: 12px;
  height: 60px;
  margin-bottom: -4px;
  padding: 7px;
  width: 60px;
}

.show-tweets:hover header {
  background-color: #ebebeb;
}

.show-tweets:hover header img {
  border-color: #707070;
  filter: brightness(85%);
}

.show-tweets:hover header .handle {
  color: #707070;
}

.show-tweets:hover header .name {
  color: #2F4F4F;
}

.show-tweets section {
  border-bottom: solid;
  border-color: #f1f1f1;
  border-width: 0.4px;
  padding: 14px;
}
